.card-detail_img{
  height: 310px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img{
  width: 310px;
  height: 100%;
 justify-content: center;
}

.card-detail_main{
  
  text-align: center;
  margin: 40px auto;
  min-height: 600px;
  width: 90%;
  min-width: 580px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.50);
  background-color: #fff;
  overflow: hidden;  
  transition: all 0.20s ease-in;
  cursor: pointer;
}

    @media screen and (max-width: 700px) {
      .card-detail_main{
    min-width: 0;
      }
    }

.card-detail_detail{
  padding: 12px 8px;
}

small{
  color: #8c8c8e;
}

.card-detail_muted{
  color: #8c8c8e
}