@media screen and (min-width: 700px) {
    .form {
        padding-left: 100px;
    }
  }

.logo{
    width: 100px;
}

.cart{
    width: 35px;
    padding-right: 15px;
}

.nav-item {
    color: azure;
    padding-left: 15px;
}

.NavbarBrand {
    justify-content: center;
}

.a{
    display: flex;
    text-decoration: none;
}

.navbar-toggler collapsed{
color: white;
}

.navbar-toggler {
    border: 1;
    background-image: url('../../assets/img/menu-50.png');
    text-decoration: solid;
}
